<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>bootstrap document</title>
    <link href="bootstrap.css" rel="stylesheet">
    <style>
        .bg-primary-qing {
            background-color: #428BCA !important;
        }
        .nav-link {
            position: relative;
            padding: 1rem;
        }
        .nav-link.active:after{
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 0;
            height: 0;
            margin-left: -0.3rem;
            vertical-align: middle;
            content: "";
            border-right: 0.3rem solid transparent;
            border-bottom: 0.3rem solid;
            border-left: 0.3rem solid transparent;
        }
        .font-sans {
            font-family: sans-serif;
        }
        .font-serif {
            font-family: Georgia;
        }
        .display-5 {
            font-size: 2.5rem;
            font-weight: 400;
        }
    </style>
</head>
<body>
    <div class="bg-primary-qing">
        <div class="container">
            <ul class="nav nav-inline font-serif">
                <li class="nav-item"><a href="#" class="nav-link active text-white py-2 ">Home</a></li>
                <li class="nav-item"><a href="#" class="nav-link text-white py-2">New features</a></li>
                <li class="nav-item"><a href="#" class="nav-link text-white py-2">Press</a></li>
                <li class="nav-item"><a href="#" class="nav-link text-white py-2">New hires</a></li>
                <li class="nav-item"><a href="#" class="nav-link text-white py-2">About</a></li>
            </ul>
        </div>
    </div>
    <div class="container py-2">
        <h1 class="display-3 font-weight-normal">The Bootstrap Blog</h1>
        <p class="lead text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </div>
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-xs-8">
                <div class="post">
                    <h3 class="display-5">Sample blog post</h3>
                    <p class="post-info text-muted font-serif">
                        January 1, 2014 by <a href="#">Mark</a>
                    </p>
                    <p class="font-serif lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa et hic incidunt itaque placeat quasi sunt tempora temporibus veniam voluptatibus. Ab accusamus animi, architecto assumenda commodi, corporis dolores dolorum enim est fuga impedit, iste itaque labore provident quam quo quod rem temporibus unde vero vitae voluptate voluptatum. Aspernatur assumenda autem consequatur, cumque dolor iste obcaecati quas ratione reiciendis! Error, est eum ipsam ipsum laboriosam natus odio temporibus tenetur ut? Ducimus ipsam maxime quia. Ad atque consequuntur, culpa eaque eligendi eum ex excepturi exercitationem ipsam itaque modi natus quae qui repellendus reprehenderit ut voluptatibus. Eaque enim, explicabo fuga libero officiis repudiandae!
                    </p>
                    <h4>Sample subtitle</h4>
                    <p class="font-serif lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa et hic incidunt itaque placeat quasi sunt tempora temporibus veniam voluptatibus. Ab accusamus animi, architecto assumenda commodi, corporis dolores dolorum enim est fuga impedit, iste itaque labore provident quam quo quod rem temporibus unde vero vitae voluptate voluptatum. Aspernatur assumenda autem consequatur, cumque dolor iste obcaecati quas ratione reiciendis! Error, est eum ipsam ipsum laboriosam natus odio temporibus tenetur ut? Ducimus ipsam maxime quia. Ad atque consequuntur, culpa eaque eligendi eum ex excepturi exercitationem ipsam itaque modi natus quae qui repellendus reprehenderit ut voluptatibus. Eaque enim, explicabo fuga libero officiis repudiandae!
                    </p>
                </div>
                <div class="post">
                    <h3 class="display-5">Sample blog post</h3>
                    <p class="post-info text-muted font-serif">
                        January 1, 2014 by <a href="#">Mark</a>
                    </p>
                    <p class="font-serif lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa et hic incidunt itaque placeat quasi sunt tempora temporibus veniam voluptatibus. Ab accusamus animi, architecto assumenda commodi, corporis dolores dolorum enim est fuga impedit, iste itaque labore provident quam quo quod rem temporibus unde vero vitae voluptate voluptatum. Aspernatur assumenda autem consequatur, cumque dolor iste obcaecati quas ratione reiciendis! Error, est eum ipsam ipsum laboriosam natus odio temporibus tenetur ut? Ducimus ipsam maxime quia. Ad atque consequuntur, culpa eaque eligendi eum ex excepturi exercitationem ipsam itaque modi natus quae qui repellendus reprehenderit ut voluptatibus. Eaque enim, explicabo fuga libero officiis repudiandae!
                    </p>
                    <h4>Sample subtitle</h4>
                    <p class="font-serif lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa et hic incidunt itaque placeat quasi sunt tempora temporibus veniam voluptatibus. Ab accusamus animi, architecto assumenda commodi, corporis dolores dolorum enim est fuga impedit, iste itaque labore provident quam quo quod rem temporibus unde vero vitae voluptate voluptatum. Aspernatur assumenda autem consequatur, cumque dolor iste obcaecati quas ratione reiciendis! Error, est eum ipsam ipsum laboriosam natus odio temporibus tenetur ut? Ducimus ipsam maxime quia. Ad atque consequuntur, culpa eaque eligendi eum ex excepturi exercitationem ipsam itaque modi natus quae qui repellendus reprehenderit ut voluptatibus. Eaque enim, explicabo fuga libero officiis repudiandae!
                    </p>
                </div>
                <div class="post">
                    <h3 class="display-5">Sample blog post</h3>
                    <p class="post-info text-muted font-serif">
                        January 1, 2014 by <a href="#">Mark</a>
                    </p>
                    <p class="font-serif lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa et hic incidunt itaque placeat quasi sunt tempora temporibus veniam voluptatibus. Ab accusamus animi, architecto assumenda commodi, corporis dolores dolorum enim est fuga impedit, iste itaque labore provident quam quo quod rem temporibus unde vero vitae voluptate voluptatum. Aspernatur assumenda autem consequatur, cumque dolor iste obcaecati quas ratione reiciendis! Error, est eum ipsam ipsum laboriosam natus odio temporibus tenetur ut? Ducimus ipsam maxime quia. Ad atque consequuntur, culpa eaque eligendi eum ex excepturi exercitationem ipsam itaque modi natus quae qui repellendus reprehenderit ut voluptatibus. Eaque enim, explicabo fuga libero officiis repudiandae!
                    </p>
                    <h4>Sample subtitle</h4>
                    <p class="font-serif lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa et hic incidunt itaque placeat quasi sunt tempora temporibus veniam voluptatibus. Ab accusamus animi, architecto assumenda commodi, corporis dolores dolorum enim est fuga impedit, iste itaque labore provident quam quo quod rem temporibus unde vero vitae voluptate voluptatum. Aspernatur assumenda autem consequatur, cumque dolor iste obcaecati quas ratione reiciendis! Error, est eum ipsam ipsum laboriosam natus odio temporibus tenetur ut? Ducimus ipsam maxime quia. Ad atque consequuntur, culpa eaque eligendi eum ex excepturi exercitationem ipsam itaque modi natus quae qui repellendus reprehenderit ut voluptatibus. Eaque enim, explicabo fuga libero officiis repudiandae!
                    </p>
                </div>
            </div>
            <div class="col-xs-3 offset-xs-1">
                <div class="card mt-1 p-2 bg-faded">
                    <h3 class="card-title">
                        About
                    </h3>
                    <p class="card-text font-serif font-italic">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet deleniti dolorem earum eveniet excepturi, illo laborum
                    </p>
                </div>
                <div class=" mt-2 p-2">
                    <h3>Arichives</h3>
                    <a href="#" class="d-inline-block font-serif">March 2014</a>
                    <a href="#" class="d-inline-block font-serif">March 2014</a>
                    <a href="#" class="d-inline-block font-serif">March 2014</a>
                    <a href="#" class="d-inline-block font-serif">March 2014</a>
                    <a href="#" class="d-inline-block font-serif">March 2014</a>
                    <a href="#" class="d-inline-block font-serif">March 2014</a>
                    <a href="#" class="d-inline-block font-serif">March 2014</a>
                    <a href="#" class="d-inline-block font-serif">March 2014</a>
                    <a href="#" class="d-inline-block font-serif">March 2014</a>
                    <a href="#" class="d-inline-block font-serif">March 2014</a>
                    <a href="#" class="d-inline-block font-serif">March 2014</a>
                    <a href="#" class="d-inline-block font-serif">March 2014</a>
                </div>
                <div class="mt-2 p-2">
                    <h3>Elsewhere</h3>
                    <a href="#" class="d-inline-block font-serif">GitHub</a>
                    <a href="#" class="d-inline-block font-serif">Twitter</a>
                    <a href="#" class="d-inline-block font-serif">Facebook</a>
                </div>
            </div>
        </div>
    </div>
    <footer class="bg-faded text-xs-center mt-3 p-2">
        <p class="lead text-muted">
            Lorem ipsum dolor sit amet.
        </p>
        <a href="#" class="btn btn-link">Back to top</a>
    </footer>

<script src="http://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/tether/1.3.7/js/tether.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/4.0.0-alpha.4/js/bootstrap.min.js"></script>
</body>
</html>