
/*breadcrumb*/
    .breadcrumb {
         margin-bottom: 1rem;
         padding: 0.75rem 1rem ;
         border-radius: 0.25rem;
         list-style:none;
         background-color: #eceeef;
     }
    .breadcrumb::after {
        content:"";
        display: table;
        clear: both;
    }

/*bread item*/
    .breadcrumb-item {
        float: left;
    }
    .breadcrumb-item.active {
        color: #818a91;
    }

/*斜线*/
    .breadcrumb-item + .breadcrumb-item::before {
        display: inline-block;
        padding-right: 0.5rem;
        padding-left: 0.5rem;
        color: #818a91;
        content: "/";
    }
    .breadcrumb-item + .breadcrumb-item:hover::before {
        text-decoration: none;
    }
