<!DOCTYPE html>
<html lang="en">
<head>
    <!--meta标签-->
    <meta charset="UTF-8">
    <!--这两行是什么意思-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>bootstrap document</title>

    <!--在其他样式表之前导入bootstrap.css-->
    <link href="http://cdn.bootcss.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<!--媒体对象-->
    <div class="media">
        <a href="#" class="media-left">
            <img src="media.PNG" alt="" class="media-object">
        </a>
        <div class="media-body">
            <h4 class="media-heading">Lorem ipsum dolor sit.</h4>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci distinctio dolore doloribus earum est explicabo laboriosam molestiae nemo, officia pariatur possimus quia quidem quod repellat saepe sapiente vero voluptas voluptate.
        </div>
    </div>
    <br><br>
<!--嵌套-->
    <div class="media">
        <a href="#" class="media-left">
            <img src="media.PNG" alt="" class="media-object">
        </a>
        <div class="media-body">
            <h4 class="media-heading">Lorem ipsum dolor sit.</h4>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci distinctio dolore doloribus earum est explicabo laboriosam molestiae nemo, officia pariatur possimus quia quidem quod repellat saepe sapiente vero voluptas voluptate.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto commodi cumque dignissimos esse eveniet facere hic, inventore, iure minima molestias neque, sint tenetur vero. Accusantium doloremque labore nam officia quis!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus earum hic libero mollitia nam necessitatibus officia quasi qui quos rerum! Dolore, eligendi et fuga id natus officiis quae sint voluptatem!
            <div class="media mt-2">
                <a href="#" class="media-left">
                    <img src="media.png" alt="" class="media-object">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">Lorem ipsum dolor.</h4>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci amet architecto minus placeat quod. Aperiam aspernatur assumenda dolor dolore doloremque earum fugiat maiores mollitia nobis non, odit officiis praesentium quae.
                </div>
            </div>
        </div>
    </div>
<br><br>

<!--对齐-->
<!--.media-top(默认值), .media-middle, .media-bottom-->
<div class="media">
    <a href="#" class="media-left media-bottom">
        <img src="media.PNG" alt="" class="media-object">
    </a>
    <div class="media-body">
        <h4 class="media-heading">Lorem ipsum dolor sit.</h4>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus distinctio, eius labore unde velit voluptate? Aliquam beatae consequuntur ea error, expedita facere facilis hic magni minus mollitia officiis praesentium quae quas quasi quos, recusandae sapiente suscipit vitae voluptas voluptate! Aliquid consectetur ducimus, iusto molestias neque omnis quam soluta veniam? Alias asperiores, autem blanditiis consequuntur eligendi esse expedita explicabo fugiat fugit hic in maxime minus modi nobis nulla perspiciatis possimus provident, quis rem repudiandae saepe tempora temporibus tenetur voluptas voluptatem! Aliquam, aliquid autem deserunt, dolor doloribus eum magnam, nihil perferendis qui recusandae tempore vero! Asperiores facere, fugit ipsum mollitia officiis possimus.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem facere inventore ipsa nihil! A asperiores assumenda at consectetur culpa cupiditate debitis deleniti dolorem eius est et eveniet expedita fugit inventore iure iusto nostrum pariatur, quidem quis ratione saepe sequi sit tempore tenetur ut velit vero. Cum ea eveniet exercitationem nostrum quisquam. Adipisci, amet blanditiis consectetur cumque debitis distinctio ducimus ea est eveniet facere in iste magni maiores minus neque praesentium quod repellat sequi unde vel. Alias debitis doloribus eveniet illum in minima nihil obcaecati. Assumenda quos repellat sed similique sit ullam veritatis? Aperiam eligendi labore officia placeat, quam repellendus soluta!
    </div>
</div>
<br><br>

<!--使用bootstrap必须按顺序导入以下文件，以及head中的bootstrap.css-->
<!--导入jQuery-->
<script src="http://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
<!--导入tether-->
<script src="http://cdn.bootcss.com/tether/1.3.7/js/tether.min.js"></script>
<!--导入bootstrap.js-->
<script src="http://cdn.bootcss.com/bootstrap/4.0.0-alpha.4/js/bootstrap.min.js"></script>
</body>
</html>